<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <title>Sign In - playSports</title>
  </head>
  <body>
  
    <div class="top-banner">
      <a href="www.example.com">Sign In</a>
    </div>

    <h1>playSports!</h1>
    <h2>Sign In</h2>
    
    <form id="login-form" name="login-form" action="../routes/login.js" onsubmit="return validateForm()" method="get">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input name="username-login" type="text" min="4" max="20" />
      </div>

      <div class="form-group">
        <label for="password-login">Password:</label>
        <input name="password-login" type="password" min="4" max="20" />
      </div>

      <div class="button-group">
        <input type="submit" value="Sign In" />
        <input type="button" value="Create Account" />
      </div>
    </form>

    <script type="text/javascript">

      $(document).ready(function(){
        //
      });

      // Validate the two inputs are filled in before submitting the form.
      function validateForm() {
        var uname = document.forms["login-form"]["username-login"].value;
        var pword = document.forms["login-form"]["password-login"].value;
        if (uname === null || uname === "") {
          alert("Username must be filled out.");
          return false;
        }
        if (pword === null || pword === "") {
          alert("Password must be filled out.");
          return false;
        }
      }

    </script>

    </body>
</html>