<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <title>List of Events - playSports!</title>
  </head>
  <body>

    <div class="top-banner">
      <a href="index.html">Sign In</a>
    </div>
    
    <h1>playSports!</h1>
    <h2>List of Events</h2>

    <div class="center-wrapper">
      <button onclick="location.href = 'create-event.html';" id="create-event-redirect">Create Event</button>
    </div>

    <div class="event-listing">
      <p>Event Name: Test</p>
      <ul>
        <li>Your Name (Owner)</li>
      </ul>
      <button onclick="joinEvent()" class="join-button">Join</button>
    </div>

    <div class="event-listing">
      <p>Event Name: Test</p>
      <ul>
        <li>Your Name (Owner)</li>
      </ul>
      <button onclick="joinEvent()" class="join-button">Join</button>
    </div>

    <script type="text/javascript">

      $(document).ready(function(){
        //
      });

      function joinEvent() {
        alert("Event Joined! (not really)");
      }

    </script>

    </body>
</html>