<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <title>List of Events - playSports!</title>
  </head>
  <body>

    <div class="top-banner">
      <a href="www.example.com">Sign In</a>
    </div>
    
    <h1>playSports!</h1>
    <h2>List of Events</h2>

    <div class="event-listing">
      <p>Event Name: Test</p>
      <ul>
        <li>Your Name (Owner)</li>
      </ul>
      <input type="button" value="Join" />
    </div>

    <div class="event-listing">
      <p>Event Name: Test</p>
      <ul>
        <li>Your Name (Owner)</li>
      </ul>
      <input type="button" value="Join" />
    </div>

    <script type="text/javascript">

      $(document).ready(function(){
        //
      });

    </script>

    </body>
</html>